body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3630DC;
    padding: 24px;
    text-align: center;
	font-size: 20px;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
	text-align: center;
}

h2 {
    color: #333;
}

p {
    line-height: 1.5;
	font-size: 18px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}